body{
  margin:0;
  background-image:url(images/gray-concrete-background.jpg);
  background-attachment: fixed;
  background-clip: border-box;
  background-color: transparent;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
  background-opacity: 0.5;
  font-family: helvetica,arial,verdana,sans-serif;
}
#yellow-column{
  background-image: url(images/yellow-background.png);
  width: 544px;
  margin:auto;
  border-left-style: solid;
  border-left-color: #e2e2e2;
  border-left-width: 35px;
  border-right-style: solid;
  border-right-color: #e2e2e2;
  border-right-width: 35px;
  box-shadow: 6px 0px 10px -7px #000000, -6px 0px 10px -7px #000000;
  padding-bottom: 100px;
}
#logo{
  background-image: url(images/seanandkaty2.png);
  margin: 0px auto 0;
  width: 351px;
  height: 80px;
  background-repeat: no-repeat;
}
#logo-container{
  padding-top: 10px;
  position:relative;
}
#kiss-photo {
  background-image: url("images/thumb-kiss2.jpg");
  height: 434px;
  margin-left: -100px;
  margin-top: 15px;
  width: 720px;
  border: 10px solid #ffffff;
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,.5);
  position: relative;
  z-index: 1;
}
#kiss-photo span {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 15px;
  margin-left: 15px;
  font-family: 'Oranienbaum', sans-serif;
  font-size: 40px;
  text-shadow: 3px 3px 3px #000000;
}
#back-white-box{
  -moz-transform: rotate(2.5deg);
  background-color: #ffffff;
  height: 454px;
  width: 740px;
  margin-left: -100px;
  margin-top: 20px;
  position: absolute;
  z-index: 0;
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,.5);
}
.swirl{
  height: 409px;
  position: absolute;
  top: 123px;
  width: 295px;
  z-index: 0;
}
#left-swirl{
  background-image: url("images/left-swirl.png");
  left: -330px;
  z-index: 1;
  opacity: .75;
}
#left-swirl-flipped{
  background-image: url("images/left-swirl-flipped.png");
  left: -330px;
  top: 230px;
  -moz-transform: rotate(25deg);
  opacity: .80;
}
#right-swirl{
  background-image: url("images/right-swirl.png");
  right: -330px;
  z-index: 1;
  opacity: .75;
}
#right-swirl-flipped{
  background-image: url("images/right-swirl-flipped.png");
  right: -330px;
  top: 230px;
  -moz-transform: rotate(-25deg);
  opacity: .80;
}
